.idea/*
.nyc_output
build
node_modules
test
src/**.js
coverage
*.log
package-lock.json
.env
.DS_Store
src/audio/*
src/video/*
src/album/*
nexrender-cli-macos
audio/*
video/*
album/*

output/

MULTISCREEN_INSTA_REEL (converted).aep

newoutput.mp4

*.mp4

album/kata/

album/

*.jpg

*.png
